@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);
/***** MAIN STUFF *****/
html * {
    font-family: "Inconsolata", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
body {
    margin: unset;
    background: #F5F5F5;
    background: #C8C8C8;
}
h1,h2,h3,h4,h5,h6,b {
    font-family: Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
}
pre {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: unset;
    color: #212121;
}
a:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}
a.disable-underline:hover{
    border-bottom: unset;
}
input:not([type="checkbox"]), select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 10px 0;
}
input[type="submit"] {
    margin-top: 40px;
}
input[type="submit"]:hover {
    cursor: pointer;
}
input[type="text"], input[type="password"], input[type="email"] {
    width: calc(100% - 14px);
}
.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}
.bold {
    font-weight: 900;
}
/***** NAVIGATION *****/
header {
    /* border-bottom: 5px solid #212121; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: #FFF;
}
.main-nav .logo-link {
    margin-left: 20px;
    font-weight: 800;
    text-decoration: none;
    color: #212121;
}
.main-nav .logo-link .logo {
    font-size: 7px;
    margin: 10px 0;
}
.main-nav .search-bar {
    align-self: center;
    position: relative;
    min-width: 270px;
    margin-left: 40px;
}
.main-nav .search-bar .search-icon {
    transform-origin: 0 0;
    transform: rotate(45deg);
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 0;
}
.main-nav .search-bar input {
    margin-bottom: 10px;
    margin-left: 5px;
}
.main-nav .search-bar input::-moz-placeholder {
    color: rgb(128, 128, 128);
}
.main-nav .search-bar input:-ms-input-placeholder {
    color: rgb(128, 128, 128);
}
.main-nav .search-bar input::placeholder {
    color: rgb(128, 128, 128);
}
.main-nav ul {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
}
.main-nav ul li {
    padding: 12px;
}
.main-nav ul .user-menu{
    width: 36px;
    height: 36px;
    border: 2px solid black;
    padding: 0;
}
.main-nav ul .user-menu .img-wrap {
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 100%;
}
/* .main-nav ul li:nth-child(n+2) {
    border-left: 2px solid black;
} */

.sub-nav {
    background: #212121;
}
.sub-nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.sub-nav ul li {
    flex: 1;
    text-align: center;
    margin: 18px;
}
.sub-nav ul li a {
    color: #ffffff;
}
.sub-nav ul li a:hover {
    border-bottom: 2px solid white;
}
/***** CONTENT *****/
.content {
    padding: 20px;
}
.content p {
    padding: 15px;
}

/***** ITEM CARD *****/
.items-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-content: space-around;
}
.card-wrap {
    flex: 1;
    margin: 10px 5px;
    align-self: baseline;
}
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-bottom: 5px solid #212121;
}
.card.collapsed, .card .title .click {
    cursor:pointer;
}
.card.collapsed .form-group, .card.collapsed + .card-status-bar {
    display: none;
}
.card img {
    max-width: 100%;
    min-width: 180px;
    align-self: center;
}
.card h3 {
    margin-top: 20px;
}
.card .title .click {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 50px;
}
.card .offers {
    color: #4d4d4d;
}
.card-status-bar {
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
}

/***** FROM ITEM CARDS *****/
.flex-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
}
.flex-form .card, .card-status-bar {
    flex: 1;
    max-width: 500px;
    min-width: 320px;
}
.flex-form .card .error.input-error {
    background: unset;
    border: unset;
    position: absolute;
    margin-top: -10px;
    right: 20px;
}
.flex-form .card .success.form-success, .flex-form .card .error.form-error {
    position: absolute;
}
.flex-form .card .success {
    color: #025b02;
}
.flex-form .card .error {
    color: #464646;
}
.flex-form .card .error.label-error {
    color: green;
    background: black;
}
.flex-form .card .form-group img {
    margin-top: 10px;
    display: block;
}
.card-status-bar {
    padding: 16px 20px 20px 20px;
    background-color: #212121;
    color: white;
    transition: all .5s ease-in-out;
}
.card-status-bar .message {
    text-align: left;
}

/***** DASHBOARD  *****/

form.dashboard {
    text-align: center;
}
form.dashboard .card {
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
}
form.dashboard .card img {
    display: block;
}

/***** MEDIA QUERIES *****/
@media only screen and (max-width: 824px) {
    .main-nav ul {
        display: none;
    }
    .main-nav .logo-link {
        overflow-x: scroll;
    }
}

