@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}
/***** MAIN STUFF *****/
/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans:700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);
html * {
    font-family: "Inconsolata", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@font-face {
        font-family: 'Terminus';
        src: url('/fonts/ter-u18n.otb');
}
body {
    margin: unset;
    /* background: #F5F5F5; */
    background: #C8C8C8;
}

.h-mb-0 {
    margin-bottom: 0;
}
hr {
    width: 100%;
}
pre {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
ul, ol {
    list-style: none;
}
a {
    color: #212121;
    /* text-decoration: underline; */
}
a:hover {
    /* border-bottom: 2px solid #212121; */
    cursor: pointer;
}
a.disable-underline:hover{
    border-bottom: unset;
}

button {
    background: #636363;
    color: #F5F5F5;
    border-radius: 0px;
    font-size: large;
}
button:hover {
    background-color: #F5F5F5;
    color: #000000;
}

/* input:not([type="checkbox"]), select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 10px 0;
} */
input[type="submit"] {
    /* margin-top: 40px; */
    font-size: large;
}
input.no-m-top {
    margin-top: 0;
    padding-left: revert;
}
input.xx-large {
    font-size: xx-large;
}
input.x-large {
    font-size: x-large;
}
input.large {
    font-size: large;
}
input.off {
    color: #f1f1f1;
    background: #212121;
}
input.on {
    color: #212121;
    background: #f1f1f1;
}
input.auto {
    width: auto;
}
/* input[type="submit"].destroy {
    background-color: #ffffff;
    color: #ff6e6e;
} */
/* input[type="submit"].add-images {
    background-color: #ffffff;
    color: #ff6e6e;
} */
input[type="submit"].destroy:hover {
    background-color: #dfdfdf;
}
input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
}
input[type="text"], input[type="password"], input[type="email"] {
    width: calc(100% - 14px);
}
input.img-arrow {
    width: 30px;
    position: absolute;
    top: 195px;
}
input.img-arrow.right {
    right: 20px;
}
/* input.img-arrow.left {
    top: 160px;
} */
.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}
.bold {
    font-weight: 900;
}
.search-icon {
    color: #f1f1f1;
    transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/***** NAVIGATION *****/
header {
    position: sticky;
    top: 0;
    z-index: 2;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: #ffffffe8;

}
.main-nav ul {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
}
.main-nav ul li {
    padding: 12px;
}
.main-nav .logo-link {
    margin-left: 20px;
    font-weight: 800;
    text-decoration: none;
    color: #212121;
}
.main-nav .logo-link .logo {
    font-size: 8px;
}
.main-nav .search-cart-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-nav .search-cart-wrap .search-bar {
    align-self: center;
    position: relative;
    min-width: 270px;
}
.main-nav .search-cart-wrap .search-bar input::placeholder {
    color: rgb(128, 128, 128);
}
/* .main-nav .search-cart-wrap .search-bar .search-icon {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 0;
} */

.main-nav .search-cart-wrap .search-bar {
    display: flex;
    flex-direction: row;
}
.main-nav .search-cart-wrap .search-bar input {
    flex-grow: 2;
    margin: 0;
}

.main-nav .search-cart-wrap .cart-wrap {
    color: #212121;
    margin-left: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav .search-cart-wrap .cart-wrap .count {
    color: #f1f1f1;
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 3px 8px;
    border-radius: 100%;
    background: #212121
}

.main-nav .search-cart-wrap .cart-wrap .cart-details {
    display: none;
    min-width: 300px;
    flex-direction: column;
    position: absolute;
    background: #f1f1f1;
    padding: 20px;
    top: 50px;
    right: 0px;
    -webkit-box-shadow: 0px 10px 13px 0px rgba(33,33,33,0.26);
    -moz-box-shadow: 0px 10px 13px 0px rgba(33,33,33,0.26);
    box-shadow: 0px 10px 13px 0px rgba(33,33,33,0.26);
  }
.main-nav .search-cart-wrap .cart-wrap .cart-details.opened {
    display: flex;
}
.main-nav .search-cart-wrap .cart-wrap .cart-details .total {
    align-self: flex-end;
    margin: 10px;
    font-weight: 800;
}
.main-nav .search-cart-wrap .cart-wrap .cart-details .cart-item-wrap * {
    margin: 0 10px;
}

.main-nav .search-cart-wrap .cart-wrap .cart-details .cart-item-wrap {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-bottom: 4px solid #212121;
}

.main-nav .search-cart-wrap .cart-wrap .cart-details .cart-item-wrap .title {
    white-space: nowrap;
    font-weight: 800;
    flex: 2;
}

.main-nav .search-cart-wrap .cart-wrap .cart-details .cart-item-wrap .remove-cart-item {
    height: auto;
}


.sub-nav {
    background: #212121;
}
.sub-nav ul, .user-nav ul, .category-nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.sub-nav ul li, .user-nav ul li, .category-nav ul li {
    flex: 1;
    text-align: center;
    padding: 18px;
}
.sub-nav ul li.current {
    background: #f1f1f1;
}
.sub-nav ul li a {
    color: #ffffff;
}
.sub-nav ul li.current a {
    color: #212121;
}
.sub-nav ul li a:hover {
    border-bottom: 2px solid white;
}

.user-nav ul li {
    background: #f1f1f1;;
}
.user-nav ul li.current {
    background: #C8C8C8;
}
.user-nav ul li.current a {
    font-weight: 800;
}
.category-nav {
    position: absolute;
}
.category-nav ul {
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
}
.category-nav ul li {
    background-color: white;
    margin: 10px;
}
.category-nav ul li.current {
    background: #212121;
}
.category-nav ul li.current a {
    font-weight: 800;
    color: #f1f1f1;
}


/***** CONTENT *****/
.content {
    padding: 20px 70px;
}
.content p {
    padding: 15px;
}

.content > .title, .content > .title-status-bar {
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    color: #212121;
    text-align: center;
    border-bottom: 5px solid #212121;
}
.content > .title {
    margin: 25px auto 0px auto;
}
.content > .title-status-bar {
    margin: 0 auto;
    background-color: #212121;
    color: #f1f1f1;
}

/***** ITEM CARD *****/
.items-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    margin: 0 auto;
}
.items-container.row-scroll {
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: unset;
    justify-content: unset;
}
.card-wrap {
    flex-grow: 0;
    margin: 10px 5px;
}
.flex-form .card-wrap {
    margin: 10px 25px;
}
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    background: #fff;
    border-bottom: 5px solid #212121;
}
.card.clickable:hover {
    -webkit-box-shadow: 0px 10px 13px 0px rgba(33,33,33,0.26);
    -moz-box-shadow: 0px 10px 13px 0px rgba(33,33,33,0.26);
    box-shadow: 0px 10px 13px 0px rgba(33,33,33,0.26);
    cursor: pointer;
}
.card .top-left-btn {
    width: 40px;
    position: absolute;
    left: 8px;
    top: 8px;
}
.card .top-right-btn {
    width: 40px;
    position: absolute;
    right: 8px;
    top: 8px;
}
.card .img-edit {
    width: 40px;
    position: absolute;
}
.card .img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 225px;
    color: #212121;
    background-color: #f1f1f1;
}
.card .img-wrap.dark {
    background-color: #212121;
    color: #f1f1f1;
}
.card .img-wrap.white {
    background-color: #fff;
}
.card .img-wrap.xx-large {
    font-size: 30px;
}
.card.collapsed, .card .title .click {
    cursor: pointer;
}
.card.collapsed .form-group, .card.collapsed + .card-status-bar {
    display: none;
}
.card .img-wrap img.current-img,
.card .img-wrap .img.current-img,
.card .img-delete-wrap .img-delete.current-img-delete {
    display: block;
}


.edit-img-wrap {
    margin-bottom: 20px;
    position: relative;
}
.card .img-wrap img, .card .img-wrap .img {
    max-width: 100%;
    min-width: 180px;
    align-self: center;
    display: none;
}
.card .top-left-btn.img-delete {
    display: none;
    top: 20px;
    left: 20px;
}
.card .img-wrap .img {
    padding: 20px;
}

.card .title h2 {
    margin-bottom: 5px;
}
.card .title h3 {
    margin: 5px 0;
}
.card .title .click {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 50px;
}
.card .seller {
    color: #656565;
}
.card .info .condition-wrap {
    font-size: 16px;
    font-weight: 600;
}
.card .info .condition-wrap .condition span {
    display: inline-block;
    padding: 0;
    width: 15px;
    height: 5px;
    margin: 0;
    border-bottom: 2px solid black;
    background: rgb(239 239 239);
}

.card .info .condition-wrap .condition span:nth-child(1)
{background: #909090;}
.card .info .condition-wrap .condition.brand-new span:nth-child(2),
.card .info .condition-wrap .condition.mint span:nth-child(2),
.card .info .condition-wrap .condition.excellent span:nth-child(2),
.card .info .condition-wrap .condition.very-good span:nth-child(2),
.card .info .condition-wrap .condition.good span:nth-child(2),
.card .info .condition-wrap .condition.fair span:nth-child(2),
.card .info .condition-wrap .condition.poor span:nth-child(2)
{background: #909090;}
.card .info .condition-wrap .condition.brand-new span:nth-child(3),
.card .info .condition-wrap .condition.mint span:nth-child(3),
.card .info .condition-wrap .condition.excellent span:nth-child(3),
.card .info .condition-wrap .condition.very-good span:nth-child(3),
.card .info .condition-wrap .condition.good span:nth-child(3),
.card .info .condition-wrap .condition.fair span:nth-child(3)
{background: #909090;}
.card .info .condition-wrap .condition.brand-new span:nth-child(4),
.card .info .condition-wrap .condition.mint span:nth-child(4),
.card .info .condition-wrap .condition.excellent span:nth-child(4),
.card .info .condition-wrap .condition.very-good span:nth-child(4),
.card .info .condition-wrap .condition.good span:nth-child(4)
{background: #909090;}
.card .info .condition-wrap .condition.brand-new span:nth-child(5),
.card .info .condition-wrap .condition.mint span:nth-child(5),
.card .info .condition-wrap .condition.excellent span:nth-child(5),
.card .info .condition-wrap .condition.very-good span:nth-child(5)
{background: #909090;}
.card .info .condition-wrap .condition.brand-new span:nth-child(6),
.card .info .condition-wrap .condition.mint span:nth-child(6),
.card .info .condition-wrap .condition.excellent span:nth-child(6)
{background: #909090;}
.card .info .condition-wrap .condition.brand-new span:nth-child(7),
.card .info .condition-wrap .condition.mint span:nth-child(7)
{background: #909090;}
.card .info .condition-wrap .condition.brand-new span:nth-child(8)
{background: #909090;}

.card .offers {
    color: #4d4d4d;
}
.card.search-container, .card-status-bar {
    width: auto;
}
.card-status-bar {
    margin: 0 auto;
    background-color: #212121;
    color: #ffffff;
    transition: all .5s ease-in-out;
    padding: 8px 10px 12px 10px;
}
.card-status-bar.hidden {
    display: none;
}
.card-status-bar.search-container {
    padding: 8px 20px 12px 20px;
}
.card-status-bar.search-container p {
    text-align: left;
}
.card-status-bar.search{
    padding: 8px 20px 12px 20px;
}
.card-status-bar {
    text-align: center;
}
/***** FROM ITEM CARDS *****/
.flex-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
}
.flex-form .card, .flex-form .card-status-bar {
    flex: 1;
}
.flex-form .card .error.input-error {
    background: unset;
    border: unset;
    position: absolute;
    margin-top: -10px;
    right: 20px;
}
.flex-form .card .success.form-success, .flex-form .card .error.form-error {
    position: absolute;
}
.flex-form .card .success {
    color: #025b02;
}
.flex-form .card .error {
    color: #464646;
}
.flex-form .card .error.label-error {
    color: green;
    background: black;
}
.flex-form .card .form-group img {
    margin-top: 10px;
    display: block;
}
.flex-form .card-status-bar, .card-status-bar.form {
    padding: 8px 20px 12px 20px;
}
.card-status-bar .message {
    text-align: center;
}

/***** DASHBOARD  *****/

form.dashboard {
    text-align: center;
}
form.dashboard .card {
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
}
form.dashboard .card img {
    display: block;
}


/***** CART & CHECKOUT  *****/

/* .cart-container {
    display: flex;
    flex-direction: column;
} */

/* .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px;
    padding: 20px;
    background: #fff;
    border-bottom: 5px solid #212121;
} */

.items-container.checkout .card {
    min-width: 300px;
    margin: 20px;
}

.items-container.checkout .card.shipping-address {
    max-width: 500px;
}

.items-container.checkout .card.totals > div {
    display: flex;
    flex-direction: row;
}

.items-container.checkout .card.totals > div > div {
    flex-basis: 100%;
    flex: 2;
    align-self: center;
    text-align: right;
}

.cart-container .cart-item {
    display: flex;
    flex-direction: row;
}

.cart-container .cart-item > div {
    padding: 20px;
}

.cart-container .cart-item .image-wrap {
    width: 150px;
}

.cart-container .cart-item .item-details {
    display: flex;
    flex-direction: column;
}
.cart-container .cart-item .item-details .item-title{
    margin-bottom: unset;
}
.cart-container .cart-item .item-details .price {
    align-self: flex-end;
}

.items-container .card.submit {
    flex-grow: 1;
    justify-content: space-between;
}

.tos-wrap input, .tos-wrap label {
    display: inline;
}


/***** MEDIA QUERIES *****/
@media only screen and (max-width: 824px) {
    /* .main-nav ul {
        display: none;
    } */
    .main-nav .logo-link, .sub-nav, .user-nav {
        overflow-x: scroll;
    }
}
