@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);
html * {
    font-family: "Inconsolata", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
body {
    margin: unset;
}
h1,h2,h3,h4,h5,h6,b {
    font-family: Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
}
pre {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: unset;
    color: #000;
}
a:hover {
    color: lightpink;
}
a:visited {
    color: #000;
}
.logo {
  font-size: 7px;
}
#site_search_icon {
    transform-origin: 0 0;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

/***** NAVIGATION *****/
header {
    border-bottom: 5px solid #000;
    padding-bottom: 10px;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: #FFF;
}
.main-nav .logo-link {
    margin-left: 20px;
    font-weight: 800;
    text-decoration: none;
    color: #000;
}
/* .main-nav .logo-link:hover > pre{
    color: #000;
} */
.main-nav .search-bar {
    align-self: center;
    min-width: 400px;
    position: relative;
    margin-left: 40px;
}
.main-nav .search-bar input {
    width: 90%;
    height: 40px;
    padding-left: 10px;
}
.main-nav .search-bar input::placeholder {
    color: rgb(128, 128, 128);
}

.main-nav ul {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
}


/***** CONTENT *****/

.content {
    padding: 40px;
    background: #F5F5F5;
}

.content p {
    padding: 15px;
}

/***** ITEM CARD *****/

.items-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-content: space-around;
}
.item-card-wrap {
    flex: 1;
    flex-direction: column;
    margin: 10px 5px;
}
.item-card {
    margin: 0 auto;
    align-self: center;
    padding: 20px;
    background: white;
    border-bottom: 5px solid #000;
}
.item-card, .item-card img{
    width: 300px;
}
.item-card h3 {
    margin-top: 20px;
}